.review {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 1rem;
	min-width: 100%;

	.imageContainer {
		display: flex;
		justify-content: center;
		align-items: center;

		.image {
			width: 15rem;
		}
	}

	.title {
		display: flex;
		justify-content: space-between;
	}

	.ratingsAndLikes {
		.ratingAmongUsers {
			display: flex;
			justify-content: space-between;
		}
		
		.selectRate {
			display: flex;
			align-items: center;

			.selectText {
				white-space: nowrap;
				margin-right: .5rem;
			}
		}
	}
}